body {
  margin: 0;
  font-family: 'Jersey 10', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #082032;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  background-color: aquamarine;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
  color: darkviolet;
  font-size: 4em;
  margin-bottom: 30px;
}

#color-palette {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  flex-shrink: 0;
}

.button,
.input {
  padding: 10px 15px;
  border: 2px solid #6a5acd;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Dongle';
}

.controls-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.button {
  background-color: crimson;
  color: antiquewhite;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: aqua;
}

.input {
  background-color: #f8f8ff;
  color: #333;
  outline: none;
}

input::placeholder {
  color: #888;
}

#pixel-board {
  border-spacing: 0px;
  border-collapse: collapse;
  margin: 0 auto;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

#clear-board {
  width: 80px;
  height: 40px;
  margin: 10px 0px;
}

#button-random-color {
  width: 120px;
  height: 40px;
  margin: 10px 0px;
}

#board-size {
  width: 70px;
  height: 40px;
  margin: 10px 0px;
}

#generate-board {
  width: 120px;
  height: 40px;
  margin: 10px 0px;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .button,
  .input {
    width: 100%;
  }
}
